.brif {
  background: url("../img/brif/orange.jpeg"), rgba($secondary-bcg, 0.7);
  background-size: 50%, cover;
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
  &-block {
    display: flex;
  }
  &__interview {
    width: 50%;
  }
  &__form {
    width: 50%;
    padding-left: 230px;
  }
}
.interview {
  &__title {
    font-size: 18px;
    width: 515px;
    margin-top: 0;
    margin-bottom: 35px;
  }
  &__subtitle {
    display: block;
    margin-bottom: 95px;
  }
  &__list {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
    @include bold;
  }
  &__item {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }
  &__number {
    margin-right: 25px;
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.form {
  text-align: center;
  &__title {
    font-size: 18px;
    width: 340px;
    margin-top: 0;
    margin-bottom: 35px;
  }
  &__subtitle {
    display: block;
    margin-bottom: 40px;
  }
  &__input {
    width: 370px;
    margin-bottom: 15px;
    color: $text-color;
    &::placeholder {
      color: $colorinput;
    }
  }
  &__button {
    margin-top: 15px;
    margin-bottom: 40px;
    width: 370px;
    height: 70px;
    @include bold;
  }
}
@media (max-width: 1200px) {
  .brif {
    background: url("../img/brif/orange.jpeg"), rgba($secondary-bcg, 0.7);
    background-size: 100% 50%, 100% 50%;
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
  &__interview {
    width: 100%;
  }
  &__form {
    width: 100%;
    padding-left: 0;
  }
    &-block {
      flex-direction: column;
    }
  }
  .interview {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 65px;
    &__title {
      margin-bottom: 16px;
    }
    &__subtitle {
      margin-bottom: 40px;
      font-size: 14;
    }
    &__number {
      margin-right: 8px;
    }
    &__text {
      max-width: 270px;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    &__title {
      margin-bottom: 25px;
    }
    &__subtitle {
      margin-bottom: 32px;
      font-size: 14;
    }
    &__input {
      display: block;
      margin-bottom: 7px;
    }
    &__button {
      margin-top: 2px;
      margin-bottom: 30px;
    }
  }
}
@media (max-width: 768px) {
  .interview {
    &__title {
      max-width: 300px;
    }
  }
  .form {
    &__title {
      max-width: 280px;
    }
    &__input {
      max-width: 275px;
    }
    &__button {
      max-width: 275px;
    }
  }
}
@media (max-width: 350px) {
  .interview {
    &__text {
      max-width: 240px;
    }
  }
}