.header {
  &-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
  }
  &__info {
    display: flex;
    align-items: center;
    text-align: right;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }
  &__button {
    margin-left: 30px;
    @include bold;
  }
  &__phone {
    @include bold;
    color: $text-color;
    font-size: 20px;
    text-decoration: none;
    margin-top: 9px;
  }
}
@media (max-width: 768px) {
  .header {
    &__contacts {
      display: none;
    }
    &__button {
      font-size: 12px;
      padding: 17px 26px;
    }
    &__logo {
      width: 90px;
    }
  }
}